{# empty Twig template #}

<div class="pull-center">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:970px;height:90px"
         data-ad-client="ca-pub-6859759066043994"
         data-ad-slot="5720703864"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<footer id="footer" role="contentinfo">
    <div class="container" style="margin-top: 30px;">
        {{ page.footer }}
    </div>
    
    <div id="footer-content" >
        {{ page.footer_content }}
    </div>
</footer>